*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  color: #932ff9;
}

.outsidebox {
  border: 5px solid #00b3b4;
  width: 1050px;
  height: 780px;
  position: relative;
}

.vertical-alignment-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 320px;
  width: 900px;
  transform: translate(-50%, -50%);
}

.outer-lemonbox {
  padding: 30px;
  position: absolute;
  background-color: #9b9b9b;
}

.inner-lemonbox {
  border: 5px solid #498fe2;
  width: 260px;
  height: 260px;
  background-color: #a8c2e1;
  color: #932ff9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.outer-purplebox {
  float: right;
  border: 5px solid #b666ff;
  height: 320px;
  width: 500px;
  position: relative;
}

.inner-purplebox {
  height: 290px;
  width: 490px;
  border-top: 5px solid #b666ff;
}

img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.inner-lemonbox p {
  background-color: #d8d8d8;
  border: 2px solid #a2a7ad;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: auto;
}

.outer-purplebox p {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inner-purplebox p {
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: block;
  vertical-align: middle;
  width: 300px;
}

.upper-right {
  float: right;
  letter-spacing: 10px;
}
